/* SCROLLBAR */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color); /* You can change this to your desired background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525255; /* You can change this to your desired handle color */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858588; /* You can change this to your desired handle color on hover */
}

/* SCROLLBAR */
/* MENU BAR */

.option-btn {
    background: none;
    color: white;
    border: none;
    padding: 2px;
}

.option-btn:hover {
  background: #353535; /* Change background color on hover */
}

.menu-button {
  color: white;
  padding: 4px 8px; /* Shorter notation for padding */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: #282828;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  border-radius: 5px;
}

.menu-button:hover {
  background: #353535; /* Change background color on hover */
}

.menu-button:active {
  background: #181818; /* Change background color on click */
}

/* MENU BAR */
/* PANEL BAR */

.panel-button {
  color: #656565;
  padding: 4px 8px; /* Shorter notation for padding */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  border-radius: 5px;
}

.panel-button:hover {
  background: #353535; /* Change background color on hover */
}

.panel-button:active {
  background: #181818; /* Change background color on click */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 1s infinite;
    display: inline-block;
    width: 8px; /* Adjust width as needed */
    text-align: center;
    margin-right: 4px; /* Adjust margin as needed */
}

/* PANEL BAR */
/* PANEL TAB */

.tab {
    cursor: pointer;
    padding: 4px 20px;
    background: #19BD19;
    display:inline-block;
    color: black;
    border-radius:3px 3px 0px 0px;
    font-weight: bold;
}

.tab:hover {
    background: #18a518;
}

.tab.active {
    background: #1D1D1D;
    color: #19BD19;
}

.media-files {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: #282828;
    padding: 10px;
    font-size: x-small;
}

/* PANEL TAB */
/* MEDIA FILES LOGICAL */

.media-files:hover {
    background: #353535;
    color: #18a518;
}

.media-files i {
    font-size: xx-large;
    margin: 0;
}

/* MEDIA FILES LOGICAL */
/* INTROJS */

.introjs-tooltip {
    background: #2c2c2cd9;
    max-width: 90vw;
    max-height: 90vh;
    border: 2px solid #3e3e3c;
    color: #e1e1e1;
}

/* INTROJS */

/* LOADER */
.lds-ring {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 50%;
  width: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 10px solid #19bd19;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #19bd19 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* LOADER */