{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Wunjo AI{% endblock %}

{% block head %}

{% endblock %}

{% block menubar %}
{% endblock %}

{% block sections %}
<canvas id="graph-canvas"></canvas>
<canvas id="minimap" width="200" height="150" style="border: 1px solid #000;"></canvas>

<pre>
    <code id="config">
    {
      version:2.1,
      workflows:{},
      jobs:{}
    }
    </code>
</pre>
<!--https://codepen.io/gmem/pen/qBOrKeB-->
<script>
    // Clear all registered node types
    LiteGraph.clearRegisteredTypes();
    // Actual graph
    var graph= new LGraph();
    var canvas = new LGraphCanvas("#graph-canvas", graph);
    graph.start()
    ctx = document.getElementById("graph-canvas").getContext("2d");
    ctx.canvas.width  = (window.innerWidth * 0.6);  // To control size for menu panel and log
    ctx.canvas.height = (window.innerHeight * 0.8);  // To control size for version panel
</script>
<script>
    var minimapCanvas = document.getElementById("minimap");
    var minimapCtx = minimapCanvas.getContext("2d");
    var minimapScale = 0.1; // Adjust this value to control the minimap size

    function updateMinimap() {
      minimapCtx.clearRect(0, 0, minimapCanvas.width, minimapCanvas.height);

      // Draw nodes as rectangles with aspect ratio on the minimap canvas
      var nodes = graph._nodes;
      minimapCtx.fillStyle = "#808080"; // Gray color for nodes
      for (var i = 0; i < nodes.length; i++) {
        var node = nodes[i];
        var nodeX = node.pos[0] * minimapScale;
        var nodeY = node.pos[1] * minimapScale;
        var originalNodeWidth = node.size[0]; // Width of the node in the main canvas
        var originalNodeHeight = node.size[1]; // Height of the node in the main canvas
        var nodeWidth = originalNodeWidth * minimapScale; // Scaled width on the minimap
        var nodeHeight = originalNodeHeight * minimapScale; // Scaled height on the minimap
        minimapCtx.fillRect(nodeX, nodeY, nodeWidth, nodeHeight);
      }

      // Draw a border for the visible area in the main canvas
      minimapCtx.strokeStyle = "#FF0000";
      minimapCtx.lineWidth = 2;
      minimapCtx.strokeRect(canvas.visible_area[0] * minimapScale, canvas.visible_area[1] * minimapScale, canvas.visible_area[2] * minimapScale, canvas.visible_area[3] * minimapScale);
    }

    canvas.onRender = function() {
      updateMinimap();
    };

    canvas.onGraphChange = function() {
      updateMinimap();
    };
</script>
{% endblock %}
